/* all font here */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

/* font end here */

/* header content start here */

.header-content{
    display: flex;
    justify-content: space-between;
}

.header-content h3{
    width: 228px;
    height: 58px;
    padding-left: 150px;
    font-family: inter;
}
.header-content button{
    max-width: 228px;
    max-height: 58px;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
    margin-right: 165px;
    margin-top: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

/* header content end here */

/* banner container start here */

.banner-container{
    width: 1920px;
    height: 652px;
    margin-bottom: 75PX;
    background-image: url(/assets/images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.banner-content{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 45px;
    font-weight: 800;
    line-height: 68px;
}

.banner-content h1 span{
    display: block;
    text-align: center;
}

.banner-content p{
    color: rgb(86, 90, 100);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
}

.banner-content p span{
    display: block;
    text-align: center;
}

.banner-content button{
    width: 208px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

/* banner container end here */


/* second container start here */

.second-container{
    width: 1140px;
    height: 1395px;
    /* margin-left: 148px;
    margin-right: 152px; */
    border: 2px solid red;
    border-radius: 10px;
    margin: 0 auto  ;
    background-color: rgb(250, 250, 251);
    /* padding: 80px 97px 80px 97px; */
}

.content-one h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.content-one p{
    color: rgb(73, 77, 87);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 70px;
}
/* content tow design start */
.content-two{
    width: 946px;
    height: 336px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-two .img{
    width: 259.56px;
    height: 217.01px;
    margin-right: 50px;
}

.content-two .text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
}

.content-two .text p{
    color: #565a64;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-two .text button{
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    font-size: 20PX;
    background: white;
}

/* content tow design end */

/* content three design start */

.content-three{
    width: 946px;
    height: 336px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-three .img{
    width: 259.56px;
    height: 217.01px;
    margin-left: 50px;
}

.content-three .text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;

}

.content-three .text p{
    color: #565a64;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-three .text button{
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    font-size: 20PX;
    background: white;
}

/* content three design end */

.content-four{
    width: 946px;
    height: 336px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.content-four .img{
    width: 259.56px;
    height: 217.01px;
    margin-right: 50px;
}

.content-four .text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;

}

.content-four .text p{
    color: #565a64;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-four .text button{
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    font-size: 20PX;
    background: white;
}

/* second container end here */