/* all font here */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

/* font end here */

/* header content start here */

.header-content{
    display: flex;
    justify-content: space-between;
}

.header-content h3{
    width: 228px;
    height: 58px;
    padding-left: 150px;
    font-family: inter;
}
.header-content button{
    max-width: 228px;
    max-height: 58px;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
    margin-right: 165px;
    margin-top: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

/* header content end here */

/* banner container start here */

.banner-container{
    width: 1920px;
    height: 652px;
    margin-bottom: 75PX;
    background-image: url(../hero-bg.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.banner-content{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 45px;
    font-weight: 800;
    line-height: 68px;
}

.banner-content h1 span{
    display: block;
    text-align: center;
}

.banner-content p{
    color: rgb(86, 90, 100);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
}

.banner-content p span{
    display: block;
    text-align: center;
}

.banner-content button{
    width: 208px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

/* banner container end here */


/* second container start here */


.second-container{
    width: 1140px;
    height: 1395px;
    /* margin-left: 148px;
    margin-right: 152px; */
    border-radius: 10px;
    margin: 0 auto  ;
    background-color: rgb(250, 250, 251);
    /* padding: 80px 97px 80px 97px; */
}

 .content-one h1{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding-top: 60px;
} 

.content-one p{
    color: rgb(73, 77, 87);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
    
}
/* content tow design start */
.content-two{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: #565a64;
    border-radius: 16px;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1) 100%);
}

.content-two .img{
    width: 259.56px;
    height: 217.01px;
    margin-right: 50px;
    box-shadow: #565a64;
}

.content-two .text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
}

.content-two .text p{
    color: #565a64;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-two .text button{
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    font-size: 20PX;
    background: white;
}

/* content tow design end */

/* content three design start */

.content-three{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1) 100%);
}

.content-three .img{
    width: 259.56px;
    height: 217.01px;
    margin-left: 50px;
}

.content-three .text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;

}

.content-three .text p{
    color: #565a64;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-three .text button{
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    font-size: 20PX;
    background: white;
}

/* content three design end */

.content-four{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1) 100%);
}
.content-four::after{
    background: linear-gradient
    (to right, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100% );
    content: "";
    height: 100%;
    position: absolute;
    width: 15px;
    z-index: 2;

}


.content-four .img{
    width: 259.56px;
    height: 217.01px;
    margin-right: 50px;
}

.content-four .text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;

}

.content-four .text p{
    color: #565a64;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-four .text button{
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    font-size: 20PX;
    background: white;
}

/* second container end here */

/* My inspiration section start from here */

.inspiration{
    width: 1140px;
    height: 777px;
    margin: 0 auto  ;
    margin-top: 80px;
}

.ins-text{
  text-align: center;
  margin-bottom: 50px;
}

.ins-text h1{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.ins-text p{
    color: rgb(85, 89, 97);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.ins-video{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgb(207, 208, 211);
    border-radius: 20px;
    margin: 0 auto;
}


.yt-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 15px;
    overflow: hidden;
    margin: 32px;
}
/* My inspiration section end here */


/* my target section start from here  */

.my-target{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 75px;
}

.target-text{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.target-text h1{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.target-text p{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.main-target-box{
    display: flex;
    justify-content: space-between;
}

/* first target box start */

.first-target-box{
    width: 364px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff6f4;
}

.first-box-content{
    width: 284px;
    height: 220px;
    margin: 0 auto;
    padding-top: 50px;
}

.first-box-content h1{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.first-box-content p{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.first-box-content img{
    position: relative;
    width: 56px;
    height: 56px;
}

.first-box-content a{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* first target box end */

/* second target box start */

.second-target-box{
    width: 364px;
    height: 300px;
    border-radius: 10px;
    background-color: #f2f6fe;
}

.second-box-content{
    width: 284px;
    height: 220px;
    margin: 0 auto;
    padding-top: 50px;
}

.second-box-content h1{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.second-box-content p{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.second-box-content img{
    position: relative;
    width: 56px;
    height: 56px;
}

.second-box-content a{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* end target box start */

/* third target box start */

.third-target-box{
    width: 364px;
    height: 300px;
    border-radius: 10px;
    background-color: #fffdf2;
}

.third-box-content{
    width: 284px;
    height: 220px;
    margin: 0 auto;
    padding-top: 50px;
}

.third-box-content h1{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}


.third-box-content p{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.third-box-content img{
    position: relative;
    width: 56px;
    height: 56px;
}

.third-box-content a{
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* third target box end */

/* my target section end here */


/* feedback section start from here */

.feedback{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 75px ;
    background-image: url(../handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    
}

.feedback-text{
    width: 730px;
    height: 104px;
    text-align: center;
    color: white;
    margin: 0 auto;
    
}

.feedback-text h1{
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
    padding-top: 50px;
}

.feedback-text p{
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.feedback input[type=text]{
    width: 548px;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 19px 20px 19px 20px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 16px;
}

.feedback input[type=submit]{
    width: 120px;
    border-radius: 10px;
    border: none;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px 17px 20px;
    font-size: 20px;
}

/* feedback section end here */

/* footer section start here */

.footer{
    width: 1920px;
    height: 100px;
    margin: 0 auto;
    background-color: #f7f8f8;
    margin-top: 50px;
    
}

.footer-content{
    width: 1140px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;

}

.footer-text{
    text-align: left;
    color: rgb(13, 19, 33);
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.footer-icon img{
    padding-right:10px;

}


/* footer section end here */